# Built outputs & Gradle
*.iml
.gradle
.kotlin
/local.properties
local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Module build directories
app/build/
core/build/
vpn/build/

# Binaries & APKs (upload to GitHub Releases instead of git commit)
*.apk
*.aab
*.log
vpn/libs/libbox.aar
